* {
    margin:0px;
    padding:0px;
}
ul, ol{
    list-style: none;
}
.df-c{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/**********************NAVBAR***********************/
.navbar{
    background-color: #2f76f7;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 16px
}
.navbar a:hover{
    color: white;
}
.navbar_logo{
    height: 45px;
    margin-right: 10px;
}
.default-logo{
    height: 45px;
}
.nav__right a{
    float: right;
}
/** nav **/
.menu-nav{
    display:flex;
    height: 50px;
    align-items: center;
    background-color: #5caef3;
}
.menu-nav li a {
    color: white;
    text-decoration: none;
    padding: 13px 15px;
    display: block;
    background-color: #5caef3;
}
.menu-nav li a:hover{
    background-color: #434343;
}
.menu-nav > li {
    float: left;
}
.menu-nav li ul{
    display: none;
    position: absolute;
    min-width: 235px;
    border: 1px solid black;
    z-index: 999999;
}

.menu-nav li:hover > ul{
    display: block;
}
.menu-nav li ul li{
    position: relative;
}

.menu-nav li ul li ul{
    right: -235px;
    top: 10px;
}
.submenu_sub{
    right: -423px !important;
    top: 10px !important;
}
.four-level{
    left: -235px !important;
    top: 33px !important;
    right: 0 !important;
    width: 200px;
    z-index: 99999;
}
#map{
    position: absolute;
    width: 100%;
    height: calc(100% - 110px);
    z-index: -99999;
    top: 110px;
}
/***********************SINAMPE****************************/
/************* FLOTANTS HEADER ***********************/

.flotant_header{
    background-color: #72a4ff;
    border: 2px solid black;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adicionar_map_base{
    padding-top: 8px;
}
.adicionar_map_base .flotant_body{
    background-color: white;
    border: 2px solid black;
    text-align: center;
}
.adicionar_map_base .col-md-3{
    padding-left: 5px;
    padding-right: 5px;
}
.adicionar_map_base a{
    text-decoration: none;
    font-size: 12px;
}
.adicionar_map_base .flotant_header{
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
}
.icon-map{
    color: red;
}
.min_close_container{
    float: right;
}
.info_base_tipo1 p{
    display: inline-block;
}
.flotant .close{
    padding-right: 5px;
    float: none;
}
.minimize{
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.ibt_title{
    margin: 0;
    padding-left: 10px;
}
.flotant_header .add_map{
    padding: 1px 5px;
    border: 1px solid red;
    margin-left: 10px;
}

/************ CONTROLS MAPS *********/
.controls_map{
    position: fixed;
    right: 5px;
    z-index: 99999999;
    top: 20%;
}
.controls_report li{
    display: inline-block;
}
.controls_map li, .controls_report li{
    margin-bottom: 1px;
    padding: 1px 5px;
    border: 1px solid red;
}
.controls_map li a i, .controls_report li a i{
    color: red;
}

/*************FLOTANS BODY***************/
.ibt1_list a{
    text-decoration: none;
    color: black;
}
.ibt1_sinanpe_list, .anpt_list, .anp_list, .oaa_ist, .ibt2_sinanpe_list, .bio_list, .ecoterr_list, .ecomar_list {
    padding-left: 15px;
}
.ibt_check{
    float: right;
}
.flotant_body, .flotant_report, .report_container{
    background-color: white;
    padding: 5px;
    border: 2px solid black;
}
.adicionar_map_base .flotant_body{
    display: none;
}
.flotant_report{
 margin-top: 30px;   
}
.report_header{
    display: flex;
    align-items: center;
    align-content: center;
}
.report_info_left{

    border: 1px solid blue;
    display: inline-block;
}
.report_info_right{

    border: 1px solid red;
    display: inline-block;
}
.report_body{
    display: flex;
    justify-content: space-between;
}
.report_body ul{
    display: inline-block;
}

/***********************MANTENIMIENTO********************/
.table_conf_ind{
    background-color: white;
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #000000;
}
.table_conf_ind legend{
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 20px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: none;
}
.sp-replacer{
    padding: 6px !important;  
    width: 30% !important;
    border-radius: 4px;
    border: solid 1px #ccc;
}
.sp-preview{
    width: 86%;
}
.sp-dd{
    width: 5%
}
.params .col-md-12{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
/****************REPORTE**********/
.sel_bt1 option{
    color: green;
    font-weight: bold;
}
.sel_bt2 option{
    color: steelblue;
    font-weight: bold;
}
.acept_selects_bt{
    float: right;
    padding: 5px 20px;
    background-color: lightblue;
    color: white;
    font-weight: bold;
}
.container_charts, .container_map_report, .container_4_blocks{
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}
.canvasjs-chart-credit{
    display: none !important;
}
.container_4_blocks .col-md-6{
    border: 2px solid black;
}
